platforms
plugins/ios.json
plugins/cordova-plugin-facebook4/CONTRIBUTING.md
plugins/cordova-plugin-facebook4/LICENSE
plugins/cordova-plugin-facebook4/package.json
plugins/cordova-plugin-facebook4/plugin.xml
plugins/cordova-plugin-facebook4/README.md
plugins/cordova-plugin-facebook4/docs/TROUBLESHOOTING.md
plugins/cordova-plugin-facebook4/docs/android/README.md
plugins/cordova-plugin-facebook4/docs/browser/app_domain_setup.png
plugins/cordova-plugin-facebook4/docs/browser/LOCALHOST_GUIDE.md
plugins/cordova-plugin-facebook4/docs/browser/README.md
plugins/cordova-plugin-facebook4/docs/ios/README.md
plugins/cordova-plugin-facebook4/scripts/after_prepare.js
plugins/cordova-plugin-facebook4/src/android/ConnectPlugin.java
plugins/cordova-plugin-facebook4/src/android/facebookconnect.xml
plugins/cordova-plugin-facebook4/src/ios/FacebookConnectPlugin.h
plugins/cordova-plugin-facebook4/src/ios/FacebookConnectPlugin.m
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Bolts
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Info.plist
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFAppLink.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFAppLinkNavigation.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFAppLinkResolving.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFAppLinkReturnToRefererController.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFAppLinkReturnToRefererView.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFAppLinkTarget.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFCancellationToken.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFCancellationTokenRegistration.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFCancellationTokenSource.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFExecutor.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFMeasurementEvent.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFTask+Exceptions.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFTask.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFTaskCompletionSource.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFURL.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/BFWebViewAppLinkResolver.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Headers/Bolts.h
plugins/cordova-plugin-facebook4/src/ios/Bolts.framework/Modules/module.modulemap
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/FBSDKCoreKit
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Info.plist
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAccessToken.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAppEvents.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKApplicationDelegate.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAppLinkResolver.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAppLinkUtility.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKConstants.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKCopying.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKCoreKit.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphErrorRecoveryProcessor.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphRequest.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphRequestConnection.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphRequestDataAttachment.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKMacros.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKMutableCopying.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKProfile.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKProfilePictureView.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKSettings.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKTestUsersManager.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Headers/FBSDKUtility.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKCoreKit.framework/Modules/module.modulemap
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/FBSDKLoginKit
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Info.plist
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginConstants.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginKit.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginManager.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginManagerLoginResult.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginTooltipView.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Headers/FBSDKTooltipView.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKLoginKit.framework/Modules/module.modulemap
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/FBSDKMessengerShareKit
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Info.plist
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerBroadcastContext.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerContext.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerShareKit.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerShareOptions.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerSharer.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandler.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandlerCancelContext.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandlerOpenFromComposerContext.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandlerReplyContext.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKMessengerShareKit.framework/Modules/module.modulemap
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/FBSDKShareKit
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Info.plist
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppGroupAddDialog.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppGroupContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppGroupJoinDialog.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppInviteContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppInviteDialog.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKGameRequestContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKGameRequestDialog.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKHashtag.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKLikeButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKLikeControl.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKLikeObjectType.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKLiking.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKMessageDialog.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKSendButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareAPI.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareConstants.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareDialog.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareDialogMode.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareKit.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareLinkContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareMediaContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphAction.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphObject.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphValueContainer.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharePhoto.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharePhotoContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareVideo.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareVideoContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharing.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharingButton.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharingContent.h
plugins/cordova-plugin-facebook4/src/ios/FBSDKShareKit.framework/Modules/module.modulemap
plugins/cordova-plugin-facebook4/tests/plugin.xml
plugins/cordova-plugin-facebook4/tests/tests.js
plugins/cordova-plugin-facebook4/www/facebook-browser.js
plugins/cordova-plugin-facebook4/www/facebook-native.js
src/cordova-plugin-facebook4-master/.gitignore
src/cordova-plugin-facebook4-master/CONTRIBUTING.md
src/cordova-plugin-facebook4-master/LICENSE
src/cordova-plugin-facebook4-master/package.json
src/cordova-plugin-facebook4-master/plugin.xml
src/cordova-plugin-facebook4-master/README.md
src/cordova-plugin-facebook4-master/docs/TROUBLESHOOTING.md
src/cordova-plugin-facebook4-master/docs/android/README.md
src/cordova-plugin-facebook4-master/docs/browser/app_domain_setup.png
src/cordova-plugin-facebook4-master/docs/browser/LOCALHOST_GUIDE.md
src/cordova-plugin-facebook4-master/docs/browser/README.md
src/cordova-plugin-facebook4-master/docs/ios/README.md
src/cordova-plugin-facebook4-master/scripts/after_prepare.js
src/cordova-plugin-facebook4-master/src/android/ConnectPlugin.java
src/cordova-plugin-facebook4-master/src/android/facebookconnect.xml
src/cordova-plugin-facebook4-master/src/ios/FacebookConnectPlugin.h
src/cordova-plugin-facebook4-master/src/ios/FacebookConnectPlugin.m
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Bolts
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Info.plist
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFAppLink.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFAppLinkNavigation.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFAppLinkResolving.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFAppLinkReturnToRefererController.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFAppLinkReturnToRefererView.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFAppLinkTarget.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFCancellationToken.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFCancellationTokenRegistration.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFCancellationTokenSource.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFExecutor.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFMeasurementEvent.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFTask+Exceptions.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFTask.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFTaskCompletionSource.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFURL.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/BFWebViewAppLinkResolver.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Headers/Bolts.h
src/cordova-plugin-facebook4-master/src/ios/Bolts.framework/Modules/module.modulemap
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/FBSDKCoreKit
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Info.plist
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAccessToken.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAppEvents.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKApplicationDelegate.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAppLinkResolver.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKAppLinkUtility.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKConstants.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKCopying.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKCoreKit.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphErrorRecoveryProcessor.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphRequest.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphRequestConnection.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKGraphRequestDataAttachment.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKMacros.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKMutableCopying.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKProfile.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKProfilePictureView.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKSettings.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKTestUsersManager.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Headers/FBSDKUtility.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKCoreKit.framework/Modules/module.modulemap
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/FBSDKLoginKit
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Info.plist
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginConstants.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginKit.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginManager.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginManagerLoginResult.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKLoginTooltipView.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Headers/FBSDKTooltipView.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKLoginKit.framework/Modules/module.modulemap
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/FBSDKMessengerShareKit
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Info.plist
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerBroadcastContext.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerContext.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerShareKit.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerShareOptions.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerSharer.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandler.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandlerCancelContext.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandlerOpenFromComposerContext.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Headers/FBSDKMessengerURLHandlerReplyContext.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKMessengerShareKit.framework/Modules/module.modulemap
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/FBSDKShareKit
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Info.plist
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppGroupAddDialog.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppGroupContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppGroupJoinDialog.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppInviteContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKAppInviteDialog.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKGameRequestContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKGameRequestDialog.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKHashtag.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKLikeButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKLikeControl.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKLikeObjectType.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKLiking.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKMessageDialog.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKSendButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareAPI.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareConstants.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareDialog.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareDialogMode.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareKit.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareLinkContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareMediaContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphAction.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphObject.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareOpenGraphValueContainer.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharePhoto.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharePhotoContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareVideo.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKShareVideoContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharing.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharingButton.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Headers/FBSDKSharingContent.h
src/cordova-plugin-facebook4-master/src/ios/FBSDKShareKit.framework/Modules/module.modulemap
src/cordova-plugin-facebook4-master/tests/plugin.xml
src/cordova-plugin-facebook4-master/tests/tests.js
src/cordova-plugin-facebook4-master/www/facebook-browser.js
src/cordova-plugin-facebook4-master/www/facebook-native.js
src/phonegap-facebook-plugin-master/.gitignore
src/phonegap-facebook-plugin-master/CONTRIBUTING.md
src/phonegap-facebook-plugin-master/facebookConnectPlugin.js
src/phonegap-facebook-plugin-master/LICENSE
src/phonegap-facebook-plugin-master/package.json
src/phonegap-facebook-plugin-master/plugin.xml
src/phonegap-facebook-plugin-master/README.md
src/phonegap-facebook-plugin-master/TROUBLESHOOTING.md
src/phonegap-facebook-plugin-master/.cordova/config.json
